{% extends 'register/main.html' %}

{% block info %}
    <style>
        h1{
            color: #D1D5DB;
            position: fixed;
            top: 30px;
            left: 300px;
        }
        h2{
            color: #D1D5DB;
            position: fixed;
            top: 80px;
            left: 300px;
        }
    </style>
    <h1> Курсовой проект на тему: </h1>
    <h2> Разработка информационной системы автоматизации процесса управления проектом</h2>

{% endblock %}

{% block title %} Информация {% endblock %}